
.component-wrapper{
    padding: 15px;
    width: 320px ;
    height: auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s;
  
}
.component-wrapper:hover::before {
    /* content: ""; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(101, 98, 98, 0.5); 
    z-index: 1;
    transition: background-color 0.3s;
}
.component-wrapper:hover{
    transform: scale(0.9) ;
    opacity: 0.5; 
    box-shadow: rgba(63, 63, 63, 0.5) 0px 8px 20px; 
}

.card-wrapper img{
    width: 100%;

}
.card-wrapper .content{
  width: 100%;
  display: block;
  font-family: sans-serif;
 
}
.content .header{
    color: rgb(28, 28, 28);
    text-decoration: none;
}
.content .price{
    color: rgb(28, 28, 28);
    text-decoration: none;
}

.content .category{
    color: rgb(28, 28, 28);
    text-decoration: none;
}