.header-wrapper{
    width: 100%;
    height: 80px;
    padding: 10px 30px;
    color: white;
    background-color: rgb(12, 12, 138);
}
.header-wrapper h2{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}